@import './assets/styles/themes';


body {
  background: var(--sb-color-key-15-opaque);
  color: var(--sb-color-dark);
}

h1, h2, h3 {
  color: var(--sb-color-comet);
}

.card {
  background-color: var(--sb-color-key-15-opaque);
}
