
:root {
  --sb-color-comet:#626570;
  --sb-color-key: #fdc300;
  --sb-color-key-72: rgba(253, 195, 0, 0.72);
  --sb-color-key-32: rgba(253, 195, 0, 0.32);
  --sb-color-key-15: rgba(253, 195, 0, 0.15);
  --sb-color-key-50: rgba(253, 195, 0, 0.50);
  --sb-color-comet-15: rgba(98, 101, 112, 0.15);
  --sb-color-key-15-opaque: #fef5d6;
  --sb-color-dark: #BE9200;
}

.fcs {
  --sb-color-comet:#626570;
  --sb-color-key: #007BC2;
  --sb-color-key-72: rgba(0, 123, 194, 0.72);
  --sb-color-key-32: rgba(0, 123, 194, 0.32);
  --sb-color-key-15: rgba(0, 123, 194, 0.15);
  --sb-color-key-50: rgba(0, 123, 194, 0.50);
  --sb-color-comet-15: rgba(98, 101, 112, 0.15);
  --sb-color-key-15-opaque: #ecf0f7;
  --sb-color-dark: #003c75;
}

.ps {
  --sb-color-comet:#626570;
  --sb-color-key: #fdc300;
  --sb-color-key-72: rgba(253, 195, 0, 0.72);
  --sb-color-key-32: rgba(253, 195, 0, 0.32);
  --sb-color-key-15: rgba(253, 195, 0, 0.15);
  --sb-color-key-50: rgba(253, 195, 0, 0.50);
  --sb-color-comet-15: rgba(98, 101, 112, 0.15);
  --sb-color-key-15-opaque: #fef5d6;
  --sb-color-dark: #BE9200;
}

.xms {
  --sb-color-comet:#626570;
  --sb-color-key: #9a9ea5;
  --sb-color-key-72: rgba(154, 158, 165, 0.72);
  --sb-color-key-32: rgba(154, 158, 165, 0.32);
  --sb-color-key-15: rgba(154, 158, 165, 0.15);
  --sb-color-key-50: rgba(154, 158, 165, 0.50);
  --sb-color-comet-15: rgba(98, 101, 112, 0.15);
  --sb-color-key-15-opaque: #f8f9fb;
  --sb-color-dark: #7b7d86;
}

.frs {
  --sb-color-comet:#626570;
  --sb-color-key: #00afaa;
  --sb-color-key-72: rgba(0, 175, 170, 0.72);
  --sb-color-key-32: rgba(0, 175, 170, 0.32);
  --sb-color-key-15: rgba(0, 175, 170, 0.15);
  --sb-color-key-50: rgba(0, 175, 170, 0.50);
  --sb-color-comet-15: rgba(98, 101, 112, 0.15);
  --sb-color-key-15-opaque: #d6f2f1;
  --sb-color-dark: #014e4a;
}
